<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>auth0</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>name.reubenbrooks.globalbridge</string>
			</array>
		</dict>
	</array>
	<key>Auth0Domain</key>
	<string>dev-1672riu03fjuf7so.us.auth0.com</string>
	<key>Auth0ClientId</key>
	<string>id5kQQRxJtDhIQ10C9r6TGKmnu0FwIcj</string>
	<key>Auth0Audience</key>
	<string>globalbridge-api</string>
</dict>
</plist>
